<topbar></topbar>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8" >
      <h2 class="titre">Produits</h2>
      <div class="col-sm-12 col-md-12 col-lg-3 produit" *ngFor="let produit of produits let i=index" >
        <img src="{{produit.image}}" alt="">
        <h4>{{produit.nom}}</h4>
        <h5>Prix {{produit.prixHT }}€</h5>
          <div class="row">
            <h5>quantité {{produit.quantite}}</h5>
            <button className="btn btn-primary" (click)="deduit(i)">-</button>
            <button className="btn btn-danger" (click)="ajout(i)">+</button>
          </div>
        <button class="btn btn-primary" (click)="ajoutProduit(i)">Ajouter</button>
    </div>
    </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
      <h2 class="titre">Panier</h2>
      <div class="col-sm-12 col-md-12 col-lg-4 panier">
        <table >
				<thead>
					<tr >
            <th >N°</th>
		        <th >Nom</th>
						<th>Quantité</th>
						<th>Prix</th>
            <th ><span class="glyphicon glyphicon-trash"></span></th>
					</tr>

				</thead>
				<tbody *ngFor="let commandes of commande let i=index ">
					<tr >
            <td>{{i+1}}</td>
						<td>{{commandes.nom}}</td>
            <td>{{commandes.quantite}}</td>
						<td>{{Total(i) | number : '1.2-2'}}€</td>
            <td (click)="supprimePanier(i)"><span class="glyphicon glyphicon-remove x"></span></td>
					</tr>
            <tr>

            </tr>
				</tbody>

			</table>
      <div class="col-sm-12 col-md-12 col-lg-4 bloc">
        <div class="col-sm-12 col-md-12 col-lg-4 commande">

      <table>
        <thead>
          <tr >
            <th >Qté</th>
            <th >PrixHT</th>
            <th>Prix TTC</th>

            <th ></th>
          </tr>

        </thead>
        <tbody>
          <tr >
            <td class="prix">{{calculerQte(i)}}</td>
            <td class="prix">{{calculerTotal(i)| number : '1.2-2'}}€</td>
            <td class="prix">{{calculerTotal(i)+calculerTotal(i)*0.2 | number : '1.2-2'}}</td>
            <td></td>
            <td (click)="supprimeCommande(i)"><span class="glyphicon glyphicon-trash rouge"></span></td>
          </tr>
            <tr>

            </tr>
        </tbody>
      </table>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
