img{
  width:70%;
}
.produit{

  border:2px solid #18C9D2;
  text-align: center;
  margin-bottom: 2px;
}
h2{
  text-align: center;
  color:#18C9D2;
  font-weight: bold;

}
.panier{
  border:2px solid #18C9D2;
  width:60vh;
  height: 25vh auto;

}
th{
  width:200px;
  height: 30px;
  line-height: 30px;
}
span{
  cursor: pointer;
}
.commande{
  border:2px solid #18C9D2;
  width:60vh;
  height:10vh;
}
.bloc{
  margin-left: -5vh;
margin-top:20vh;
}
.x,.prix{
  color:red;
  font-weight: bold;
}
.rouge{
  color:red;
}
